[submodule "BeRoads/Vendors/AFNetworking"]
	path = BeRoads/Vendors/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "BeRoads/Vendors/InAppSettingsKit"]
	path = BeRoads/Vendors/InAppSettingsKit
	url = https://github.com/futuretap/InAppSettingsKit.git
[submodule "BeRoads/Vendors/FormatterKit"]
	path = BeRoads/Vendors/FormatterKit
	url = https://github.com/mattt/FormatterKit.git
[submodule "BeRoads/Vendors/EGOTableViewPullToRefresh"]
	path = BeRoads/Vendors/EGOTableViewPullToRefresh
	url = https://github.com/mrackwitz/EGOTableViewPullRefresh.git
[submodule "BeRoads/Vendors/ECSlidingViewController"]
	path = BeRoads/Vendors/ECSlidingViewController
url=https://github.com/ValCapri/ECSlidingViewController.git
