[submodule "BeRoads/Vendors/AFNetworking"]
	path = BeRoads/Vendors/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "BeRoads/Vendors/OCMapView"]
	path = BeRoads/Vendors/OCMapView
	url = https://github.com/yinkou/OCMapView.git
[submodule "BeRoads/Vendors/InAppSettingsKit"]
	path = BeRoads/Vendors/InAppSettingsKit
	url = https://github.com/futuretap/InAppSettingsKit.git
[submodule "BeRoads/Vendors/FormatterKit"]
	path = BeRoads/Vendors/FormatterKit
	url = https://github.com/mattt/FormatterKit.git
[submodule "BeRoads/Vendors/EGOTableViewPullToRefresh"]
	path = BeRoads/Vendors/EGOTableViewPullToRefresh
	url = https://github.com/mrackwitz/EGOTableViewPullRefresh.git
